### Data Preprocessing

In [ ]:
import numpy as np
import pandas as pd

In [2]:
# Reddit Sentiment Analysis Dataset
df = pd.read_csv('https://raw.githubusercontent.com/Himanshu-1703/reddit-sentiment-analysis/refs/heads/main/data/reddit.csv')
df.head()

                                       clean_comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [3]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37249 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  37149 non-null  object
 1   category       37249 non-null  int64
dtypes: int64(1), object(1)
memory usage: 582.1+ KB

In [ ]:
df.dropna(inplace=True)

In [5]:
df.drop_duplicates(inplace=True)

In [ ]:
# Keep Non Empty Comments
df = df[~(df['clean_comment'].str.strip() == '')]

In [9]:
# Convert column to lowercase
df['clean_comment'] = df['clean_comment'].str.lower()

In [11]:
# Remove trailing and leading whitespaces
df['clean_comment'] = df['clean_comment'].str.strip()

# Verify
df['clean_comment'].apply(lambda x: x.endswith(' ') or x.startswith(' ')).sum()

np.int64(0)

In [14]:
# Remove new line characters
df['clean_comment'] = df['clean_comment'].str.replace('\n', ' ', regex=True)

# Verify
df[df['clean_comment'].str.contains('\n')]

Empty DataFrame
Columns: [clean_comment, category]
Index: []

In [17]:
df.to_csv('../data/processed/processed.csv', index=False)